html{
  width: 1412px;
  min-height: 900px;
  height: auto;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
body{
  width: inherit;
  min-height: inherit;
  height: auto;
  margin: 0 auto;
  position: relative;
}
#background{
  /*background: pink;*/
  width: 100%;
  height: 100%;
  position: absolute; z-index: 1;
  overflow: hidden;
}
#H_0{
  background: brown;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 290px;
}
#H_1{
  background: brown;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 490px;
  top: 500px;
}
#I_0{
  background: brown;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 290px;
  top: 500px;
}
#I_1{
  background: brown;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 300px;
  left: 490px;
}
#H_0 img, #I_0 img, #H_1 img, #I_1 img{
  width: 200px;
  height: 200px;
}
#main{
  width: 100%;
  height: 1000px;
}
