/*---------------/ヘッダー/------------*/
#header{
  /*background: red;*/
  position: relative; z-index: 2;
  top: 0; left: 0;
  width: inherit;
  margin: 0 auto;
  padding: 0;
}
#header > ul{
  width: inherit;
  height: 77px;
  margin: 0 auto;
  padding: 0;
}
#home{
  display: block;
  position: relative;
  width: 500px;
  height: 71px;
  margin: 0 auto;
  cursor: pointer;
}
#circle{
  background: white;
  display: block;
  position: relative;
  float: left;
  width: 142px;
  height: 72px;
  margin-left: 6px;
  border-left: 5px solid rgb(200, 0, 0);
  border-right: 5px solid rgb(200, 0, 0);
  border-bottom: 5px solid rgb(200, 0, 0);
  cursor: pointer;
}
#game, #rule, #link, #event, #inquiry, #etc{
  background: white;
  display: block;
  position: relative;
  float: left;
  width: 142px;
  height: 72px;
  margin-left: 5px;
  border-left: 5px solid rgb(200, 0, 0);
  border-right: 5px solid rgb(200, 0, 0);
  border-bottom: 5px solid rgb(200, 0, 0);
  cursor: pointer;
  overflow: hidden;
}
#header p{
  display: block;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
#circle > img, #game > img, #rule > img, #link > img, #event > img, #inquiry > img, #etc > img{
  background: white;
  display: block;
  width: 72px;
  height: 72px;
  margin: 0%;
  padding :0%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0.3;
}
.en{
  margin: 0px;
  position: absolute;
  bottom: -3px;
  left: 72px;
  opacity: 0.3;
}
#home > img{
  display: block;
  width: 500px;
  height: 71px;
  margin: 0%;
  padding :0%;
  position: absolute;
  top: 0%;
  left: 0%;
}
/*---------------/ヘッダー/------------*/
