@charset UTF-8;
/*---------------/ヘッダー/------------*/
#header{
  position: absolute; z-index: 2;
  top: 0; left: 0;
  width: inherit; height: 10%;
  margin: 0%;
  padding: 0%;
}
#circle{
  background: rgb(255, 255, 53);
  display: block;
  position: relative;
  float: left;
  width: 144px;
  height: 72px;
  cursor: pointer;
  text-align: center;
}
#rule, #link, #ivent, #inquiry, #etc{
  background: rgb(255, 255, 53);
  display: block;
  position: relative;
  float: left;
  width: 144px;
  height: 72px;
  margin-left: 8px;
  cursor: pointer;
  text-align: center;
}
#home{
  background: rgb(255, 255, 53);
  display: block;
  position: relative;
  float: left;
  width: 500px;
  height: 71px;
  margin-left: 8px;
  cursor: pointer;
}
#header p{
  display: block;
  margin: 0%;
  padding: 0%;
  position: absolute;
  top: 40%;
  right: 0%;
}
#circle > img, #rule > img, #link > img, #ivent > img, #inquiry > img, #etc > img{
  display: block;
  width: 72px;
  height: 72px;
  margin: 0%;
  padding :0%;
  position: absolute;
  top: 0%;
  left: 0%;
}
#home > img{
  display: block;
  width: 500px;
  height: 71px;
  margin: 0%;
  padding :0%;
  position: absolute;
  top: 0%;
  left: 0%;
}
/*---------------/ヘッダー/------------*/
